apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-ci-cd
  namespace: jenkins
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-ci-cd
  template:
    metadata:
      labels:
        app: sample-ci-cd
    spec:
      serviceAccountName: jenkins
      containers:
      - name: sample-ci-cd
        image: kpkm25/sample-ci-cd:latest
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: sample-ci-cd-service
  namespace: jenkins
spec:
  selector:
    app: sample-ci-cd
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: LoadBalancer
